<div class="card mb-2">
  <div class="card-body">
    <div class="card-text lead mb-2">
      <small>
        <%= message.user.username %>
        - <%= time_ago_in_words message.created_at %> ago
      </small>

      <p><%= message.content %></p>
    </div>
  </div>
</div>
