body {
  overflow: hidden;
  height: 100vh;
}

#main-navbar{
  height: 8vh;
  margin-bottom: 1px;
}

#main-content{
  position: relative;
  top: 50px;


  .row {
    height: 93vh;

    .col {
      height: 100%;
      overflow-y: auto;
    }
  }
}

.group-list {
  .group-item{
    width: 50px;
    height: 50px;
  }
}


.baord-list {
width: 100%;
}


#board-messages{
  margin-bottom: 15%;
}

.message-form {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  padding-left: 25%;
}
