body {
  overflow: hidden;
  // height: 100vh;
}

#main-navbar{
  height: 50px;
  margin-bottom: 1px;
}

#main-content{
  position: relative;
  top: 50px;

  .row {
    height: 93vh;

    .col {
      height: 100%;
      overflow-y: auto;
    }
  }
}

.group-list {
  .group-item{
    width: 50px;
    height: 50px;
  }
}

#message-items{
  height: calc(100% - 280px);
  min-height: 500px;
  overflow: auto;
}

.message-form {
  height: 52px;
}

::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
