body {
  overflow: hidden;
  height: 100vh;
}

#main-navbar{
  height: 50px;
}

#main-content{
  margin-top: 50px;
  // height: 100%;
//   position: relative;
//   width: 100%;
//   font-size: 0;


  .row {
    height: 100vh;

    .col {
      height: 100%;
      overflow-y: auto;
    }
  }
}

#left-content {
  height: 100%;
}

.group-list {
//   display: inline-block;
//   width: 70px;
width: 100%;
}

.baord-list {
//   display: inline-block;
//   width: 160px;
width: 100%;
}

.messages-list {
//   display: inline-block;
width: 100%;
//   width: calc(100% - 230px);
}

#board-messages{
  margin-bottom: 15%;
}

.message-form {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  padding-left: 25%;
}

// .modal-backdrop {
//   z-index: -5;
// }
