<div id="main-content" class="wrap d-flex">
  <div class="group-list bg-dark h-100">
    <%= render  "/groups/group_list", newgroup:@newgroup, groups: @groups %>
  </div>

  <div class="baord-list bg-secondary h-100">
    <%= render  "/boards/board_list", group: @group, boards: @boards, board: @board, newboard: @newboard %>
  </div>

  <div class="messages-list bg-info w-100 h-100">
    <%= render  "/messages/message_list", group: @group, board: @board, messages: @messages, message: @message %>
  </div>
      
</div>
